<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/assets/style.css' />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="images/favourite.png">
        <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/carousel/">
        <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->

        <title>Clean city - Ballarat</title>
      </head>
    <!-- NAVBAR
    ================================================== -->
      <body>
        <!-- <div id="nav-placeholder">

        </div>

        <script>
        $(function(){
          $("#nav-placeholder").load("nav.ejs");
        });
        </script> -->
        <!--end of Navigation bar--> -->
        <div class="navbar-wrapper">
          <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">CleanCity</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/users">About</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>

          </div>
        </div>


      <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img class="img-circle" src="images/ballarat-bin.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Smart waste</h2>
              <p>Let us make smart choices at each step of waste life cycle.</p>
              <p><a class="btn btn-default" href="/swdet" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="images/ballarat-empower.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Empower</h2>
              <p>Learn about landfill operations and different waste streams and its environmental impacts </p>
              <p><a class="btn btn-default" href="/empdet" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="images/ballarat-volunteer.png" alt="Generic placeholder image" width="140" height="140">
              <h2>Volunteer</h2>
              <p>Help us create awareness among the residents for better waste management. Together we can make Ballarat a clean city.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->


          <!-- START THE FEATURETTES -->

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Waste Lifecycle<span class="text-muted">  quantity and category view</span></h2>
              <p class="lead">Analytical view of the data related to waste management in city of Ballarat for a better future.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="images/ballarat-graph1.jpg" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
              <h2 class="featurette-heading">Collaborative environment <span class="text-muted">empowering community</span></h2>
              <p class="lead">community awareness of ”why' and 'how' to manage waste (avoid, reduce, reuse, recycle and recover) and to educate the community on issues that are common across the whole of South Australia, regardless of available waste services and facilities or council area.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" src="images/ballarat-empower2.jpg" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">
          <!-- /END THE FEATURETTES -->


          <!-- FOOTER -->
          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2019 Infosys Ltd. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>

        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>
